.container {
    display: flex;
    gap: 10px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.grid {
    width: 20px;
    height: 20px;
    background-color: black;
}

button {
    padding: 10px;
    margin: 10px;
}