.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 960px;
    max-width: 960px;
    max-height: 960px;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
}

.grid {
    width: 16px;
    height: 16px;
    background-color: black;
}

button {
    padding: 10px;
    margin: 10px;
}